/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "~ngx-toastr/toastr";

input.form-control.ng-invalid {
  border-left-color: $form-feedback-invalid-color;
  border-left-width: 3px;
}

input.form-control.ng-valid {
  border-left-color: $form-feedback-valid-color;
  border-left-width: 3px;
}

html, body {
  height: 100%;
  min-height: 100%;
}
